<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/antd/dist/antd.min.css">
  <% if(typeof name !== 'undefined'){ %>
  <link rel="stylesheet" href="/<%- name %>.min.css">
  <% } %>
  <base href="/client">
</head>
<body>
<% if(typeof initialState !== 'undefined'){ %>
<script>
  var __INITIAL__STATE__ = JSON.parse('<%- JSON.stringify(initialState) %>');
</script>
<% } %>
<div id="root"><%- root %></div>

<% if(false){ %><!--      生产环境 / 开发环境       --><% } %>
<% if(typeof isPro !== 'undefined' && isPro){ %>
<script src="/react/umd/react.production.min.js"></script>
<script src="/react-dom/umd/react-dom.production.min.js"></script>
<% } else { %>
<script src="/react/umd/react.development.js"></script>
<script src="/react-dom/umd/react-dom.development.js"></script>
<% } %>

<script src="/moment/min/moment.min.js"></script>
<script src="/antd/dist/antd.min.js"></script>
<script src="/vendors.build.js"></script>

<p aaa="<%- typeof isPro %>">fff</p>

<% if(typeof name !== 'undefined'){ %>
<script src="<%- name %>.build.js"></script>
<% } %>

</body>
</html>
